@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  html {
    font-family: 'Blinker', sans-serif;
  }

  .product__card{
    font-family: 'Lexend', sans-serif;
  }
}
